* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightblue;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand.me-auto {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* Hero Section Styling */
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    background-color: #f5f5f5; /* Light background for contrast */
    overflow: hidden;
}

.hero .container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 10px;
}

.hero .copy {
    color: #333;
}

.text-label {
    font-size: 1em;
    color: #009970;
    margin-bottom: 10px;
}

.text-hero-bold {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #001d16;
    line-height: 74px;
}

.text-hero-regular {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #798092;
}

.cta a {
    display: inline-block;
    margin-right: 10px;
    padding: 15px 25px;
    font-size: 1em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn-prim {
    text-decoration: none;
    border: 2px solid #009970;
    background-color: #009970;
    color: #fff;
}

.btn-prim:hover {
    border: 2px solid #007455;
    background-color: #007455;
}

.btn-sec {
    text-decoration: none;
    background-color: #666777;
    color: white;
    border: 2px solid #666777;
}

.btn-sec:hover {
    color: #666777;
    background-color: #f5f5f5;
    border: 2px solid #666777;
}

.hero img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta a {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-more a {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .text-hero-bold {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .text-hero-regular {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

/* General styles for the testimonial brand section */
.testimoni-brand {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto; /* Center alignment */
}

/* Styles for the title section */
.testimoni-brand .title-sec h5 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 1.4;
}

/* Styling for each testimonial item */
.testimonial-item {
    background-color: #fff;
    border-radius: 24px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
    display: flex;
    align-items: center;
    border: 2px solid #e0e0e0;
    width: 100%; /* Set a fixed width for consistency */
    margin: 5px 0; /* Consistent margin */
    justify-content: center; /* Center the content horizontally */
}

/* Hover effect for the boxes */
.testimonial-item:hover {
    border: 2px solid #007455;
}

/* Image within the box */
.testimonial-item img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

/* Text within the box */
.testimonial-item h5 {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin: 0;
}

/* Our Principle Section */
.our-principle {
    background-color: #f5f5f5;
    padding: 20px;
}

.subtitle {
    background-color: #00997027; /* Warna latar belakang biru */
    color: #007455; /* Warna teks putih untuk kontras */
    font-weight: 800;
    border-radius: 24px; /* Membuat sudut melengkung */
    padding: 10px 20px; /* Memberikan ruang di dalam tombol */
    font-size: 12px; /* Mengatur ukuran font */
    text-decoration: none; /* Menghilangkan garis bawah */
    transition: background-color 0.3s ease; /* Animasi saat hover */
    width: fit-content; /* Menyesuaikan lebar dengan konten */
    margin: 10px 0; /* Tengah-kan dan beri jarak bawah */
}

.subtitle p {
    margin: 0; /* Menghilangkan margin pada paragraf untuk memastikan teks pas di dalam tombol */
}

.d-flex {
    display: flex; /* Mengatur elemen dalam div ini menjadi flex container */
    align-items: center; /* Menyelaraskan item secara vertikal di tengah */
    justify-content: space-between; /* Menyelaraskan item secara horizontal, memberi jarak di antara mereka */
}

.title-sec {
    max-width: 65%;
    margin-right: 20px; /* Menambahkan jarak antara judul dan tombol */
    margin-bottom: 25px;
}

.title-sec h5 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0; /* Menghilangkan margin default */
}

/* Tombol More Button */
.more-button {
    background-color: #000;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: 2px solid #000;
}

.more-button:hover {
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}

/* Responsive Styles */

/* Layar besar hingga sedang */
@media (max-width: 992px) {
    .title-sec {
        max-width: 60%; /* Sesuaikan max-width pada layar lebih kecil */
    }
}

/* Layar sedang hingga kecil */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* Susun elemen secara vertikal pada layar kecil */
        align-items: flex-start; /* Elemen tetap berada di kiri */
    }
    .title-sec {
        max-width: 100%; /* Buat elemen judul memenuhi lebar */
        margin-right: 0; /* Reset margin */
        margin-bottom: 10px; /* Jarak antara elemen pada layar kecil */
    }
    .more-button {
        align-self: flex-start; /* Pastikan tombol tetap di kiri */
        width: auto; /* Buat tombol menyesuaikan dengan konten */
        margin: 10px 0; /* Berikan jarak antara judul dan tombol */
    }
}

/* Layar sangat kecil, misalnya ponsel */
@media (max-width: 480px) {
    .title-sec h5 {
        font-size: 32px; /* Kurangi ukuran font pada layar sangat kecil */
    }
    .more-button {
        font-size: 14px; /* Kurangi ukuran font tombol pada layar sangat kecil */
        padding: 10px 15px; /* Sesuaikan padding tombol */
    }
    .subtitle {
        font-size: 10px; /* Kurangi ukuran font subtitle */
        padding: 8px 15px; /* Sesuaikan padding subtitle */
    }
}

/* card Our Princpal */
/* Base styles */
.column-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%; /* Default width for larger screens */
    margin-bottom: 50px;
    border: 4px solid #000;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: border 0.1s ease;
}

.card:hover {
    border: 1px solid #007455;
}

.card img {
    width: 100%; /* Make sure images take the full width of the card */
    height: auto; /* Maintain aspect ratio */
}

.card i {
    font-size: 30px;
    margin: 10px 0;
    color: #00271d;
}

.panel {
    padding: 20px;
}

.panel-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.panel h3 {
    font-size: 24px;
    font-weight: 700;
    color: #00271d;
}

.panel p {
    font-size: 16px;
    font-weight: 400;
    color: #798092;
}

.learn-more {
    text-decoration: none;
    color: #009970;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    /* For tablets and smaller desktops */
    .card {
        width: 45%; /* Two cards per row */
    }
}

@media (max-width: 768px) {
    /* For mobile devices */
    .card {
        width: 100%; /* Full width for mobile, one card per row */
        margin-bottom: 30px; /* Adjust spacing for smaller screens */
    }

    .panel h3 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .panel p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    /* For very small screens */
    .card {
        width: 100%;
        margin-bottom: 20px; /* Less spacing on very small screens */
    }

    .panel {
        padding: 15px; /* Reduce padding */
    }

    .card i {
        font-size: 24px; /* Smaller icon size */
    }
}

/* Company Statistic */

.statistic {
    margin: 0;
    background-color: #00271d;
    padding: 50px 0;
}

.statistic-item {
    margin: 0 20px;
    text-align: center;
    align-items: center;
    color: #fff;
}

.statistic-item i {
    font-size: 30px;
}

.statistic-item p {
    font-size: 14px;
    color: #a5a6af;
}

.statistic-item h5 {
    font-size: 30px;
    font-weight: 900;
    margin: 10px;
}

.main {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 50px 0;
}
.main .head {
    font-size: 29px;
    color: #00271d;
    position: relative;
    margin-bottom: 100px;
    font-weight: 500;
}
.main .head::after {
    content: " ";
    position: absolute;
    width: 50%;
    height: 3px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #00271d, #009970);
}

/* Container Css Start  */

.why-choose-us .title-sec {
    margin-left: 20px;
}

.why-choose-us {
    width: 70%;
    height: auto;
    margin: auto 0;
    margin-top: 50px;
    position: relative;
}
.why-choose-us ul {
    list-style: none;
}
.why-choose-us ul::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 52%;
    top: 0;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, #00271d, #094e3d);
}
.why-choose-us ul li {
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
    position: relative;
    margin-bottom: 30px;
    z-index: 99;
}
.why-choose-us ul li:nth-child(4) {
    margin-bottom: 0;
}
.why-choose-us ul li .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00271d79;
    top: 0;
    display: grid;
    place-items: center;
}
.circle::after {
    content: " ";
    width: 12px;
    height: 12px;
    background-color: #00271d;
    border-radius: 50%;
}
ul li:nth-child(odd) .circle {
    transform: translate(50%, -50%);
    right: -32px;
}
ul li:nth-child(even) .circle {
    transform: translate(-50%, -50%);
    left: -28px;
}
ul li .date {
    position: absolute;
    width: 130px;
    height: 33px;
    background-image: linear-gradient(to right, #084032, #007455);
    border-radius: 15px;
    top: -45px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 13px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.why-choose-us ul li:nth-child(odd) {
    float: left;
    clear: right;
    text-align: right;
    transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
    right: 20px;
}
.why-choose-us ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}
ul li .heading {
    font-size: 17px;
    color: 009970;
}
ul li p {
    font-size: 13px;
    color: #666;
    line-height: 18px;
    margin: 6px 0 4px 0;
}
ul li a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(18, 54, 214);
    transition: all 0.3s ease;
}

@media only screen and (min-width: 798px) and (max-width: 1100px) {
    .why-choose-us {
        width: 80%;
    }

    .why-choose-us ul::after {
        left: -40px;
    }
    .why-choose-us ul li {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .why-choose-us ul li .circle {
        left: -72px;
        transform: translate(-50%, -50%);
    }
    .why-choose-us ul li .date {
        left: 20px;
    }
    .why-choose-us ul li:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
    }
    .why-choose-us ul li:nth-child(even) {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 798px) {
    .why-choose-us {
        width: 70%;
        transform: translateX(20px);
    }
    .why-choose-us ul::after {
        left: -40px;
    }
    .why-choose-us ul li {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .why-choose-us ul li .circle {
        left: -72px;
        transform: translate(-50%, -50%);
    }
    .why-choose-us ul li .date {
        left: 20px;
    }
    .why-choose-us ul li:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
    }
    .why-choose-us ul li:nth-child(even) {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 550px) {
    .why-choose-us {
        width: 80%;
    }
    .why-choose-us ul::after {
        left: -20px;
    }
    .why-choose-us ul li .circle {
        left: -52px;
    }
}

/* Our Team */

/* General Styles for the our-team Section */
.our-team {
    padding: 50px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.our-team .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensures contents are centered */
}

.column-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Card Item Styling */
.card-item {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

/* Image Circular Style */
.card-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #007455;
    display: block;
    margin: 0 auto 15px;
}

/* Panel Styling */
.card-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.card-item p {
    font-size: 14px;
    color: #666;
}

.card-item .breaker {
    display: block;
    height: 2px;
    width: 50px;
    background-color: #007455;
    margin: 10px auto;
}

.card-item .learn-more {
    display: inline-block;
    margin-top: 15px;
    color: #007455;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #007455;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card-item .learn-more:hover {
    background-color: #007455;
    color: #fff;
}

/* Hover Effect for the Card */
.card-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-item {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .our-team .title-sec h5 {
        font-size: 18px;
    }
}

.testimonials-container .testimonials-card {
    padding: 20px;
}
.testimonials-card .test-card-body {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.test-card-body .quote {
    display: flex;
    align-items: center;
}
.test-card-body .quote i {
    font-size: 45px;
    color: #00271d;
    margin-right: 20px;
}
.test-card-body .quote h2 {
    color: #00271d;
}
.test-card-body p {
    margin: 10px 0px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #434753;
}
.test-card-body .ratings {
    margin-top: 20px;
}
.test-card-body .ratings i {
    font-size: 17px;
    color: rgb(225, 192, 3);
    cursor: pointer;
}
.testimonials-card .profile {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.profile .profile-image {
    margin-top: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.profile .profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile .profile-desc {
    display: flex;
    flex-direction: column;
}
.profile-desc span:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    color: #00271d;
}
.profile-desc span:nth-child(2) {
    font-size: 15px;
    color: #434753;
}
.owl-nav {
    position: absolute;
    right: 20px;
    bottom: -10px;
}
.owl-nav button {
    border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
    padding: 10px !important;
    border-radius: 50%;
    font-size: 18px !important;
    background-color: #00271d !important;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
    background-color: white !important;
    color: #e9e9e9;
}
.owl-dots {
    margin-top: 15px;
}
.owl-dots .owl-dot span {
    background-color: #798092 !important;
    padding: 6px !important;
}
.owl-dot.active span {
    background-color: #00271d !important;
}

#faq {
    background-color: #f5f5f5;
    padding: 84px 0px 144px 134px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
}

.faq-heading {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    margin-bottom: 24px;
}

.faq-heading h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 57px;
    color: #00271d;
    text-transform: uppercase;
}

.faq-heading p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #434753;
    max-width: 461px;
}

.faq-content {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    width: 100%;
    align-items: flex-start;
}

.faq-img {
    width: 100%;
    border-radius: 27px 0px 0px 27px;
    overflow: hidden;
    display: flex;
    box-shadow: 14px 14px 60px rgba(59, 42, 130, 0.06);
}

.faq-img img {
    width: 100%;
    object-fit: contain;
    object-position: right;
}

.faq-box {
    padding: 35px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    box-shadow: 14px 14px 60px rgba(59, 42, 130, 0.06);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.faq-box-container {
    margin-right: 40px;
}

.faq-box-question {
    display: grid;
    grid-template-columns: 1fr 30px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.faq-box-question h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #00271d;
}

.faq-box-icon {
    display: block;
    position: relative;
    height: 3px;
    width: 23px;
    margin-left: auto;
}

.faq-box-icon::before,
.faq-box-icon::after {
    background: #00271d;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}

.faq-box-icon::before {
    top: 0px;
}

.faq-box-icon::after {
    top: 0px;
    transform: rotate(90deg);
}

.faq-box-question.active .faq-box-icon::after {
    transform: rotate(0deg);
}

.faq-box-question.active h4 {
    color: #007455;
}

.faq-box-answer p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #434753;
    padding-top: 20px;
}

.faq-box-answer {
    max-height: 0px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

@media (max-width: 1200px) {
    #faq {
        padding: 84px 0px 144px 20px;
    }
}

@media (max-width: 800px) {
    .faq-content {
        grid-template-columns: 1fr;
    }

    .faq-box-container {
        margin-right: 0px;
        padding-right: 20px;
    }

    .faq-img {
        margin-top: 25px;
    }
}

@media (max-width: 724px) {
    #faq {
        padding: 82px 0px 80px 20px;
    }

    .faq-heading {
        padding: 0px 20px;
    }

    .faq-heading h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
    }

    .faq-box {
        padding: 24px 20px;
    }

    .faq-box-question h4 {
        font-size: 19px;
        line-height: 26px;
        font-weight: 700;
    }

    .faq-box-icon {
        width: 16px;
    }

    .faq-box-question {
        grid-template-columns: 1fr 16px;
    }

    .faq-img {
        border-radius: 18px 0px 0px 18px;
    }
}

footer {
    background-color: #00271d;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}

.container-footer {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer {
    min-width: 250px;
    color: #f2f2f2;
    padding: 0 2rem;
}

.col-footer h3 {
    color: #00b383;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col-footer h3::after {
    content: ' ';
    height: 3px;
    width: 0px;
    background-color: #00b383;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col-footer h3:hover::after {
    width: 30px;
}

.col .social a i {
    color: #00b383;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .social a i:hover {
    transform: scale(1.5);
    filter: grayscale(25);
}

.logo {
    margin-bottom:25px;
}

.col .links a {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .links a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #00b383;
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before {
    opacity: 1;
}

.col .links a:hover {
    transform: translateX(-8px);
    color: #00b383;
}

.col .contact-details {
    display: inline-flex;
    justify-content: space-between;
}

.col .contact-details i {
    margin-right: 15px;
}

.row-footer .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.row .form input{
    background-color: #1a1c20ff;
    color: #f2f2f2;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form button {
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #00b383;
}

@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}