.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand.me-auto {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

/* Hero Section Styling */
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    background-color: #f5f5f5; /* Light background for contrast */
    overflow: hidden;
}

.hero .container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 10px;
}

.hero .copy {
    color: #333;
}

.text-label {
    font-size: 1em;
    color: #009970;
    margin-bottom: 10px;
}

.text-hero-bold {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #001d16;
    line-height: 74px;
}

.text-hero-regular {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #798092;
}

.cta a {
    display: inline-block;
    margin-right: 10px;
    padding: 15px 25px;
    font-size: 1em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn-prim {
    text-decoration: none;
    border: 2px solid #009970;
    background-color: #009970;
    color: #fff;
}

.btn-prim:hover {
    border: 2px solid #007455;
    background-color: #007455;
}

.btn-sec {
    text-decoration: none;
    background-color: #666777;
    color: white;
    border: 2px solid #666777;
}

.btn-sec:hover {
    color: #666777;
    background-color: #f5f5f5;
    border: 2px solid #666777;
}

.hero img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta a {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-more a {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .text-hero-bold {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .text-hero-regular {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

/* General styles for the testimonial brand section */
.testimoni-brand {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 1200px; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Center alignment */
}

/* Styles for the title section */
.testimoni-brand .title-sec h5 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 1.4;
}

/* Styling for each testimonial item */
.testimonial-item {
    background-color: #fff;
    border-radius: 24px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
    display: flex;
    align-items: center;
    border: 2px solid #e0e0e0;
    width: 100%; /* Set a fixed width for consistency */
    margin: 5px 0; /* Consistent margin */
    justify-content: center; /* Center the content horizontally */
}

/* Hover effect for the boxes */
.testimonial-item:hover {
    border: 2px solid #007455;
}

/* Image within the box */
.testimonial-item img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

/* Text within the box */
.testimonial-item h5 {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin: 0;
}

/* Our Principle Section */
.our-prnciple {
    background-color: #f5f5f5;
    padding: 20px;
}

.subtitle {
    background-color: #00997027; /* Warna latar belakang biru */
    color: #007455; /* Warna teks putih untuk kontras */
    font-weight: 800;
    border-radius: 24px; /* Membuat sudut melengkung */
    padding: 10px 20px; /* Memberikan ruang di dalam tombol */
    font-size: 12px; /* Mengatur ukuran font */
    text-decoration: none; /* Menghilangkan garis bawah */
    transition: background-color 0.3s ease; /* Animasi saat hover */
    width: fit-content; /* Menyesuaikan lebar dengan konten */
    margin: 10px 0; /* Tengah-kan dan beri jarak bawah */
}

.subtitle p {
    margin: 0; /* Menghilangkan margin pada paragraf untuk memastikan teks pas di dalam tombol */
}

.d-flex {
    display: flex; /* Mengatur elemen dalam div ini menjadi flex container */
    align-items: center; /* Menyelaraskan item secara vertikal di tengah */
    justify-content: space-between; /* Menyelaraskan item secara horizontal, memberi jarak di antara mereka */
}

.title-sec {
    max-width: 65%;
    margin-right: 20px; /* Menambahkan jarak antara judul dan tombol */
    margin-bottom: 25px;
}

.title-sec h5 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin: 0; /* Menghilangkan margin default */
}

/* Tombol More Button */
.more-button {
    background-color: #000;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: 2px solid #000;
}

.more-button:hover {
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}

/* Responsive Styles */

/* Layar besar hingga sedang */
@media (max-width: 992px) {
    .title-sec {
        max-width: 60%; /* Sesuaikan max-width pada layar lebih kecil */
    }
}

/* Layar sedang hingga kecil */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* Susun elemen secara vertikal pada layar kecil */
        align-items: flex-start; /* Elemen tetap berada di kiri */
    }
    .title-sec {
        max-width: 100%; /* Buat elemen judul memenuhi lebar */
        margin-right: 0; /* Reset margin */
        margin-bottom: 10px; /* Jarak antara elemen pada layar kecil */
    }
    .more-button {
        align-self: flex-start; /* Pastikan tombol tetap di kiri */
        width: auto; /* Buat tombol menyesuaikan dengan konten */
        margin: 10px 0; /* Berikan jarak antara judul dan tombol */
    }
}

/* Layar sangat kecil, misalnya ponsel */
@media (max-width: 480px) {
    .title-sec h5 {
        font-size: 32px; /* Kurangi ukuran font pada layar sangat kecil */
    }
    .more-button {
        font-size: 14px; /* Kurangi ukuran font tombol pada layar sangat kecil */
        padding: 10px 15px; /* Sesuaikan padding tombol */
    }
    .subtitle {
        font-size: 10px; /* Kurangi ukuran font subtitle */
        padding: 8px 15px; /* Sesuaikan padding subtitle */
    }
}

/* card Our Princpal */
.column-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    margin-bottom: 50px;
    border: 4px solid #000;
}

.card:hover {
    border: 2px solid #007455;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
}

.card i {
    font-size: 30px;
    margin: 10px 0;
    color: #00271d;
}

.panel {
    padding: 20px;
}

.panel h3 {
    font-size: 24px;
    font-weight: 700;
    color: #00271d;
}

.panel p {
    font-size: 16px;
    font-weight: 400;
    color: #798092;
}

.learn-more {
    text-decoration: none;
    color: #009970;
}
